{
  "printWidth": 80,
  "tabWidth": 4,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "jsxSingleQuote": true,
  "quoteProps": "consistent",
  "useTabs": true,
  "htmlWhitespaceSensitivity": "css",
  "proseWrap": "preserve"
}
